<content>
  <div class="body">
    <div class="search_container">
      <div class="search">
        <input id="PageHome_search" type="text" placeholder="Rechercher une boite ou un objet" />
        <div class="btnsearch"><img id="search_icon" src="../../assets/shared/img/icon-search.png"></div>
      </div>
    </div>
    <div class="cardcontainer">
      <div class="card">
        <div class="img-container"><img src="../../shared/img/icon-box.svg" /></div>
        <div class = "text">Mes cartons</div>
      </div><!--
      --><div class="card">
        <div class="img-container"><img src="../../shared/img/icon-objects.png" /></div>
        <div class = "text">Mes objets</div>
      </div>
      <div class="card">
        <div class="img-container"><img src="../../shared/img/img-warehouse.png" /></div>
        <div class = "text">Mes zones de stockages</div>
      </div>
    </div>
  </div>
</content>

