<content>
  <button>
    <img src="../../shared/img/icon-home.png" />
  </button><!--
  --><button>
    <img src="../../shared/img/icon-box.png" />
    
  </button><!--
  --><button>
    <img src="../../shared/img/icon-qrcode.png" />
  </button><!--
  --><button>
    <img src="../../shared/img/icon-objects.png" />
  </button><!--
  --><button>
    <img src="../../shared/img/icon-user.png" />
  </button>
  <div class="segment"></div><!-- 
  --><div class="segment"></div></div><!-- 
  --><div class="segment"></div></div><!-- 
  --><div class="segment"></div></div><!-- 
  --><div class="segment"></div></div>
</content>

