body{ margin: 0; padding: 0; background-color: rgb(244,245,246); }

.page{ height: 100vh !important; width: 100% !important; margin: 0; padding: 0; background-color: rgb(244,245,246); box-sizing: border-box; }
.popup{ z-index: +1 }

content button {-webkit-appearance: none; border: none; }
