/* -- CONTENT -- */
content{ position: relative; z-index: 2; display: block; width: 100%; height: 100%; padding-top: 100px; margin: 0; background-color: rgb(244,245,246);  }

/* -- CONTAINER --*/
content .container{ display: block; margin: auto; max-width: 500px; position: relative; }

/* -- CARD --*/
content .container .card{ display: block; width: 100%; height: 50%; text-align: center; background-color: white; border-radius: 10px; box-shadow: 0 5px 28px 0 rgba(0,0,0,0.1); }

/* -- TOP --*/
content .container .card .top { display: block; width: 100%; background-color: rgb(244,245,246); }

/* -- BODY --*/
content .container .card .body { display: block; width: 100%; }

/* -- FOOTER --*/
content .container .card .footer { display: block; width: 100%; height: 70px; background-color: rgb(244,245,246); }

/* -- IMG CONTAINER --*/
content .container .card .top .img-container{ width: 150px; margin: auto; height: auto; text-align: center;  }
content .container .card .top .img-container img{ width: 100%; object-fit: cover; height: 100%; }

/* -- LOGIN INPUT --*/
content .container .card .body .login-input{ display: block; width: 100%; height: auto; box-sizing: border-box; white-space: initial; margin-top: 10px; margin-bottom: 10px; position: relative; white-space: initial; }
content .container .card .body .login-input img { position: absolute; height: 30px; width: 30px; top: 9px; left: 15px; }
content .container .card .body .login-input input{ width: calc(100% - 20px); box-sizing: border-box; border: none; border-radius: 3px; padding: 15px 0px; padding-left: 50px; margin: 0; background-color: rgb(244,245,246); color: #4D5455; font-size: 14px; }

content .container .card .signin-link{ }
