/* =========================================================== */
/* ========================== HOME =========================== */
/* =========================================================== */

content {}

/* HEADER */
content .header{ display: block; width: 100%; height: 40px; line-height: 20px; padding: 10px 10px; background-color: white; box-sizing: border-box; text-align: center;
  -webkit-box-shadow: 0px 1px 6px 3px rgba(104,104,104,0.4); box-shadow: 0px 1px 6px 3px rgba(104,104,104,0.4); }
content .header .text{ font-size: 15px; color: #424B54; }

/* CARD */
content .body .card{ display: inline-block; vertical-align: middle; height: 25vh ; padding: 10px; border: 1px solid lightgrey; margin: 10px; border-radius: 10px; text-align: center; box-sizing: border-box; color: white; cursor: pointer; }
content .body .card:nth-child(1){ margin-top: 20px;}
content .body .card .text{font-size: 20px; margin-top: 20px; }
@media (max-width: 900px) {
    content .body .card .text{font-size: 15px; margin-top: 10px; }
}
content .body .card .img-container{width: 100px; margin: auto; height: auto; text-align: center; border-radius: 10px;  }
content .body .card .img-container img{ width: 100%; object-fit: cover; height: 100%; }

content .body .round{display: block; width: 50px; height: 50px;position: absolute; border-radius: 100px;  cursor: pointer; }
content .body .round:nth-child(1){ } /* USER */
content .body .round:nth-child(2){ } /* SCAN */
content .body .round .img-container { display: block; }
content .body .round .img-container img { width: 30px; height: 30px; }

/* width */

.w50{ width:calc(50% - 20px); }
.w100{ width: calc( 100% - 20px); }
