/* -- CONTENT -- */
#PageLogin content{ position: relative; z-index: 2; display: block; width: 100%; height: 100%; padding-top: 100px; margin: 0; background-color: rgb(244,245,246);  }

/* -- ERROR -- */
#PageLogin .error{ display: block; width: 100%; height: 50%; text-align: center; color:red; margin-top: 40px; font-family: poppins-regular, sans-serif;  }

/* -- CONTAINER --*/
#PageLogin content .container{ display: block; margin: auto; max-width: 500px; position: relative; }

/* -- CARD --*/
#PageLogin content .container .card{ display: block; width: 100%; height: 50%; text-align: center; background-color: white; border-radius: 10px; box-shadow: 0 5px 28px 0 rgba(0,0,0,0.1); }

/* -- TOP --*/
#PageLogin content .container .card .top{ display: block; width: 100%; background-color: rgb(244,245,246); }

/* -- BODY --*/
#PageLogin content .container .card .body{ display: block; width: 100%; }

/* -- FOOTER --*/
#PageLogin content .container .card .footer{ display: block; width: 100%; height: 70px; }

/* -- IMG CONTAINER --*/
#PageLogin content .container .card .top .img-container{ width: 200px; margin: auto; height: auto; text-align: center;  }
#PageLogin content .container .card .top .img-container img{ width: 100%; object-fit: cover; height: 100%; }

/* -- LOGIN INPUT --*/
#PageLogin content .container .card .body .login-input{ display: block; width: 100%; height: auto; box-sizing: border-box; white-space: initial; margin-top: 10px; margin-bottom: 10px; position: relative; white-space: initial; }
#PageLogin content .container .card .body .login-input:nth-child(1){ margin-top: 40px; }

#PageLogin content .container .card .body .login-input img{ position: absolute; height: 30px; width: 30px; top: 9px; left: 85px; filter: invert(52%) sepia(18%) saturate(0%) hue-rotate(243deg) brightness(93%) contrast(103%); pointer-events: none; }
#PageLogin content .container .card .body .login-input input{ width: 70%; box-sizing: border-box; border: none; border-radius: 3px; padding: 15px 0px; padding-left: 50px; margin: 0; background-color: rgb(244,245,246); color: #4D5455; font-size: 14px; }

/* -- LOGIN BUTTON --*/
#PageLogin content .container .card .body .login-button button{ display: block; width: auto; margin: auto; height: auto; background-color: #9181fa; color: white; border-radius: 3px; padding: 10px 25px; margin-top: 40px; margin-bottom: 40px; text-align: center; font-family: poppins-regular, sans-serif; font-size: 16px; text-transform: uppercase; cursor: pointer; }

#PageLogin content .container .card .signin-link{ display: block; width: 100%; height: auto; box-sizing: border-box; white-space: initial; }
#PageLogin content .container .card .signin-link p{ color:#9181fa; font-size: 14px; font-family: poppins-regular, sans-serif; cursor: pointer; }
